@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root{
    --green-color: #009379;
    --black-color: #2D2D2D;
    --yellow-bg-color: #F8D57E;
}

body{
    background-color: #F8F9FF;
}

/* nav-bar */
.nav-bar{
    background-color: var(--yellow-bg-color);
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}
.nav-logo-text{
    font-size: 21px;
    font-weight: 400;
    line-height: 27.3px;
    text-align: center;
    color: var(--black-color);
}
.nav-logo-text1{
    font-weight: 700;
}
.nav-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.nav-contact{
    color: var(--green-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.nav-secondary-btn{
    border: none;
    color: var(--green-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border-radius: 20px;
    padding: 16px 50px 16px 50px;
    background-color: #E5F4F2;
    margin-left: 30px;
}
.nav-primary-btn{
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    background-color: var(--green-color);
    padding: 16px 50px 16px 50px;
    border-radius: 20px;
}

/* hero-section */
.hero-section{
    background-color: var(--yellow-bg-color);
}
.hero-section-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 30px 0 30px;
}
.hero-content-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-heading{
    font-size: 67px;
    font-weight: 700;
    line-height: 87.1px;
    letter-spacing: -0.025em;
    text-align: left;
    color: var(--black-color);
}
.hero-desc{
    font-family: Mulish;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;
    color: var(--black-color);
    margin-bottom: 20px;
}
.hero-desc a{
    font-family: Mulish;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;
}
.hero-buttons{
    display: flex;
    gap: 18px;
    text-align: center;
}
.hero-primary-btn{
    border: none;
    border-radius: 20px;
    padding: 16px 50px 16px 50px;
    background-color: var(--green-color);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.hero-secondary-btn{
    border: 1px solid var(--green-color);
    border-radius: 20px;
    padding: 16px 50px 16px 50px;
    background-color: #fff;
    color: var(--green-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.hero-img img{
    width: 450px;
    height: 450px;
    overflow: hidden;
}

/* features-section */
.features{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 30px 120px 30px;
}
.features-img img{
    overflow: hidden;
}
.features-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.feature-title{
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.02em;
    text-align: left;
}
.feature-desc{
    font-family: Mulish;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;
    margin-bottom: 30px;
}
.other-feature{
    display: flex;
    align-items: center;
    gap: 20px;
}
.other-feature div{
    padding: 20px 30px;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* work section */
.work{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 30px 120px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.work-title{
    font-size: 38px;
    font-weight: 700;
    line-height: 49.4px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #000000;
}
.work-desc{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--black-color);
    margin-bottom: 40px;
}
.other-work{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}
.work-div{
    display: flex;
    flex-direction: column;
    width: 370px;
    height: 454px;
}
.work-img{
    height: 278px;
}
.work-img img{
    overflow: hidden;
}
.work-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 30px 0;
    background-color: #ffffff;
}
.work-content h1{
    font-size: 28px;
    font-weight: 600;
    line-height: 36.4px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-left: 30px;
}
.work-content .para1{
    margin-left: 30px;
    font-family: Mulish;
    font-size: 21px;
    font-weight: 400;
    line-height: 31.5px;
    text-align: left;
}
.work-content .para2{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 30px;
}

@media screen and (max-width: 1200px){

    /* work */
    .work{
        padding: 80px 30px 80px 30px;
    }
    .other-work{
        gap: 40px;
    }
    .work-div{
        width: 213.33px;
        height: 330px;
        text-align: center;
    }
    .work-img img{
        width: 213.33px;
        height: 173px;
    }
    .work-content h1{
        font-size: 21px;
        line-height: 27.3px;
    }
    .work-content .para1{
        font-family: Mulish;
        font-size: 16px;
        line-height: 24px;
    }
    .work-content .para1{
        font-size: 14px;
        line-height: 22.4px;
    }
}

@media screen and (max-width: 1030px){

    /* features */
    .features{
        flex-direction: column;
        gap: 60px;
    }
    .features > :nth-child(1){
        order: 2;
    }
    .features > :nth-child(2){
        order: 1;
    }
    .features-right{
        align-items: center;
    }
    .feature-desc{
        text-align: center;
    }
}

@media screen and (max-width: 815px){
    /* nav */
    .nav-logo-text{
        display: none;
    }
    .nav-contact{
        display: none;
    }
    .nav-secondary-btn{
        display: none;
    }

    /* hero */
    .hero-section-main{
        flex-direction: column;
        gap: 60px;
    }
    .hero-content-left{
        align-items: center;
    }
    .hero-heading{
        text-align: center;
    }
    .hero-desc{
        text-align: center;
    }
}

@media screen and (max-width: 730px){

    /* work */
    .work{
        padding: 60px 30px 60px 30px;
    }
    .work-title{
        font-weight: 600;
    }
    .other-work{
        flex-direction: column;
        gap: 30px;
    }
    .work-div{
        width: 315px;
        height: 446px;
    }
    .work-img{
        width: 315px;
        height: 278px;
    }
    .work-img img{
        width: 315px;
        height: 278px;
    }
    .work-content h1{
        font-size: 28px;
        line-height: 36.4px;
    }
    .work-content para1{
        font-size: 16px;
        line-height: 24px;
    }
    .work-content para1{
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 560px){

    /* features */
    .features-img img{
        width: 320px;
        height: 267px;
    }
}

@media screen and (max-width: 450px){

    /* hero */
    .hero-buttons{
        flex-direction: column;
    }
    .hero-img img{
        height: 315px;
        width: 315px;
    }

    /* features */
    .other-feature{
        flex-direction: column;
    }
}